/*tags*/
h1{
    position: absolute;
    margin-top: 1vh;
    margin-left: 3vw;
    font-family: 'kallistobold_italic';
    font-size: 40px;
}

h2{
    margin-top: 1vh;
    margin-left: 3vw;
    font-family: 'kallistobold_italic';
    font-size: 30px;
}

a{
    margin-top: 1vh;
    margin-left: 3vw;
    font-family: 'kallistobold_italic';
    font-size: 25px;
    color: black;
    
}

a:hover{
    background-color: var(--red);
    color: white;
}
/*backgrounds*/
.back-gray{
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: absolute;
    background-color: #1b1b1b;
    clip-path: polygon(50% 0, 94% 0, 72% 100%, 22% 100%);
}

.colis{ 
    clip-path: polygon(25% 0, 98% 0, 75% 100%, 5% 100%);
    height:100%;
    width: 100%;
    opacity: 5%;
    position:relative;
}

.backpurple{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--purple);
    clip-path: polygon(100% 0, 94% 0, 72% 100%, 100% 100%);
}

.logo-gray{
    position: absolute;
    width: 600px;
    margin-top: 25vh;
    z-index: 1;
    opacity: 20%;
}
/*header*/
.logo{
    width: 50px;
}
 
.navigation{
    position: absolute;
    z-index: 15;
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
    margin-left: 6vw;
    transform: skewX(-0.04turn);
}
 
.icon{
    z-index: 5;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4.5vh;
    margin-left: 17vw;     
}
 
.major{
    position: absolute;
    z-index: 10;
    background-color: white;
    margin-top: -3.5vh;
    margin-left: 27vw;
    transform: skewX(-0.04turn);
    border-radius: 10px;
    width: 250px;
    height: 60px;
}

 
.small-w{
    position: absolute;
    background-color: white;
    margin-left: 40vw;
    transform: skewX(-0.02turn);
    border-radius: 10px;
    width: 60px;
    height: 60px;
}
 
.small-b{
    background-color: var(--blue);
    margin-left: 50vw;
    transform: skewX(-0.02turn);
    border-radius: 10px;
    width: 60px;
    height: 60px;
}

.small{
    margin-top: 1.5vh;
    margin-left: 0.75vw;
    width: 30px;
    height: 30px;
}

/*middle*/
.purple-circle{
    position:relative;
    margin-top: 20vh ;
    margin-left: -5vw;
    z-index: 5;
    width: 50vw;
    height: 90vh;
    border-radius: 100%;
    border-width: 2px;
    border-style:solid;
    border-color: var(--purple);
}

.purple-ball{
    background-color: var(--purple);
    border-radius: 100%;
    position: absolute;
    z-index: 15;
    margin-top: 19vh;
    margin-left: 11vw;
    width: 50px;
    height: 50px;
}

.circle-icon{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;

}

.white-square{
    background-color: white;
    position: absolute;
    z-index: 20;
    width: 60%;
    height: 80%;
    margin-top: 30vh;
    margin-left: 55vw;

}

.letter{
    position: absolute;
    z-index: 20;
    color: white;
    margin-top: 20vh;
    margin-left: 55vw;
    font-size: 65px;
}

.porcent-bar{
    border-color: #cfcfcfa6;
    border-style: solid;
    border-radius: 50px;
    width: 600px;
    height: 60px;
    margin-top: 3vh;
    margin-left: 3vw;
}

.porcent-1{
    float: left;
    position:absolute;
    z-index: 7;
    background-color: var(--purple);
    width: 45%;
    height: 60px;
    border-radius: 50px;
    margin-top: -2px;
    margin-left: -4px;
    animation-name: barra-1;
    animation-duration: 3s;
}
.porcent-2{
    position: absolute;
    background-color: var(--purple);
    width: 20%;
    height: 60px;
    border-radius: 50px;
    margin-top: -2px;
    margin-left: -4px;
    animation-name: barra-2;
    animation-duration: 3s;
}
.porcent-3{
    position: absolute;
    background-color: var(--purple);
    width: 30%;
    height: 60px;
    border-radius: 50px;
    margin-top: -2px;
    margin-left: -4px;
    animation-name: barra-3;
    animation-duration: 3s;
}
.porcent-4{
    position: absolute;
    background-color: var(--purple);
    width: 10%;
    height: 60px;
    border-radius: 50px;
    margin-top: -2px;
    margin-left: -4px;
    animation-name: barra-4;
    animation-duration: 3s;
}

@keyframes barra-1{
    from{
        width: 0;
    }
    to{
        width: 45%;
    }
}

@keyframes barra-2{
    from{
        width: 0;
    }
    to{
        width: 20%;
    }
}

@keyframes barra-3{
    from{
        width: 0;
    }
    to{
        width: 30%;
    }
}

@keyframes barra-4{
    from{
        width: 0;
    }
    to{
        width: 10%;
    }
}
/*hero*/
.sombra{
    position:absolute;
    margin-top: 6vh;
    display: flex;
    padding-left: 10;
    width: 450px;
    height: 450px;
    margin-left: 3vw;
    z-index: 10;
}
.sombraface{
    position: absolute;
    z-index: 16;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 10px;
    margin-left: 23vw;
    width: 60px;
    height: 60px;
}

.sombraface::after{
    content:" ";
    position:absolute;
    z-index: 20;
    background-color: var(--green);
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.sombraface-1{
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #9c9c9c;
    position: absolute;
    z-index: 5;
    margin-top: 62vh;
    margin-left: 15vw;
    width: 100px;
    height: 100px;
}

.sombraface-2{
    border-radius: 10px;
    position: absolute;
    z-index: 5;
    margin-top: 5%;
    margin-left: 20vw;
    width: 150px;
    height: 150px;
}